
*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    transition: all .1s ease-in-out;
}

/* Mode */
.light-mode {
    --bg: azure;
    --text: #000;
    --high: rgb(77, 228, 228);
    --link: rgb(1, 70, 131);
    --hover: rgb(247, 63, 216);
}

.dark-mode {
    --bg: #202020;
    --text: rgb(242, 247, 247);
    --high: rgb(228, 77, 178);
    --link: rgb(183, 91, 219);
    --hover: rgb(247, 63, 216);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
/*     background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
 */}

/* layout */

#docs{
    position: fixed;
    bottom: 10px;
    right: 10px;

    z-index: 999;
}

#docs a {
    color: var(--link) !important;
    font-weight: lighter;
    font-family: 'Lucida Sans', Verdana, sans-serif;
}

#credit {
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 10px;
    width: 100%;
    font-weight: lighter;
    font-family: 'Lucida Sans', Verdana, sans-serif;
}

#credit a {
    color: var(--link) !important;
    font-weight: lighter;
    font-family: 'Lucida Sans', Verdana, sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.wrp-fr {
    display: grid;
    
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    padding: 1rem;
    
    grid-template-rows: 120px 375px;
    grid-template-columns: 300px;
}

.wrp-fr h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--high);
    border-bottom: 1px solid var(--high);
}

/* history */

#history {
    overflow-y: auto;
    padding: .5rem;
    border: 1px solid var(--high);
}

#history::-webkit-scrollbar {
    width: 5px;
    border-radius: 1px;
}

#history::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .10);
    border-radius: 1px;
}

#history::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, .75);
    border-radius: 5px;
}

#history p {
    font-size: 18px;
    cursor: pointer;
}

#history p:hover {
    color: var(--hover);
}

/* main app */

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: minmax(120px, auto) repeat(5, 75px);
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 10px;

    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;

    word-wrap: break-word;
    word-break: break-all;
}

.previous-op {
    color: var(--high);
    font-size: 1rem;
}

.result {
    color: var(--high);
    font-size: 2.5rem;
}

.span-2 {
    grid-column: span 2;
}

.btn {
    cursor: pointer;
    font-size: 1.5rem;
    outline: none;
    border: 1px solid var(--high);
    background-color: rgba(255, 255, 255, .75);
}

.btn:hover {
    background-color: rgba(255, 255, 255, .90);
}

/* options */

#options{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#options button {
    cursor: pointer;
    font-size: 1.5rem;
    outline: none;
    border: 1px solid var(--high);
}

.switch-mode {
    position: fixed;
    top: 10px;
    left: 10px;
}

.switch-mode button {
    border: 2px solid var(--high);
    border-radius: 50px;
    padding: .5rem 1rem;
    font-size: 1rem;
    background-color: var(--bg);
    height: 100%;
    width: 100%;
    cursor: pointer;
    color: var(--text);
}